#service{
    padding: 20px;
    transition: 2s ease-in-out;
}
.service-item{
    background-color: transparent;
    padding: 10px;
    transition: 2s ease-in-out;
}
#service p{
    text-align: justify;
}