#Upwork{
    margin-Top:20%;
    margin-bottom: 20%;
    transition: 2s ease-in-out;
    }
    
    .Upwork-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: aliceblue;
        flex-grow: 1;
    
    
    }
    
    .Upwork-title{
        background-color:#2E9F00;
        color: #fff;
        padding:80px;
        width:10px;
    }
    .Upwork-title-mb{
        background-color:#2E9F00;;
        color: #fff;
        padding:5px;
        width:100%;
    
    }
    .Upwork-title-mb  h1{
        font-family: "Montserrat";
        font-size: 2.5rem;
        letter-spacing: 3px;
        padding: 5px;
        text-align: center;
          
    }
    .Upwork-title h1{
        font-family: "Montserrat";
        transform-origin:1.5em 3em ;
       
        transform: rotate(-90deg);
        font-size: 3rem;
        letter-spacing: 3px;
        padding: 25px;
          
    }
    .Upwork-item a{
        color:var(--Button);
        font-size: 1.8rem;
        text-decoration: none;
        font-family: "Syne";
    
    }
    .Upwork-item {
        overflow-X:hidden ;
        overflow-y: auto;
        padding: 50px;
        background-color: aliceblue;
        max-height: 340px;
        width:70%;
    
    }
    .Upwork-wrap ::-webkit-scrollbar{
    
        background: #979790; 
        border-radius: 25px;
       
    }
    .Upwork-wrap ::-webkit-scrollbar-thumb{
        background:#2E9F00; 
        border-radius: 25px;
    }
    #Upwork a{
        color:#fff;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: 'Montserrat';
        font-weight: 600;
    }
 