.About{
    margin: auto;
   
    padding: 10px;
    margin-bottom: 40px;
    transition: 2s ease-in-out;
    text-align: center;
   
  
    
}
.About-item{
    width: 90%;
    margin: auto;
    background-color: var(--Button);
    color: #fff;
    padding: 20px;
    min-height: 250px;
    transition: 2s ease-in-out;
    text-align: center;
}