.MobileMenu-icon{
    background-color: #fff;
    color:var(--Button);
    border: 1px solid #fff;
    border-radius: 25px;
    margin-top:20px ;
}
.MobileMenu-Item{
    font-size:50px;
}
.MobileMenu{
    margin-top: 20px;
}

.active{
background-color: #00000073 ;
padding: 20px;
opacity: 1;
transition: 2s ease-in-out;
border-radius: 25px;
display: flex;
flex-direction: column;
}

.inactive{
    background-color: #00000073 ;
    padding: 20px;
    opacity: 0;
    display: flex;
flex-direction: column;
    }