.icon{
    background-color: var(--Button);
    padding: 16px;
    width: 32px;
    height: 32px;
    color:#fff;
    border-radius: 35px;
    border: 2px solid #CB6CE6;
    margin: 6px auto;
    text-align: center;
    overflow: hidden;
}

.icon:hover{
    background-color: #fff;
    color:var(--Button);
    box-shadow: inset 1px 2px 3px #000;
}
.Navbar{
    background-color: #00000073;
    width: 70%;
    border: 2px solid var(--Button);
    padding: 10px;
    margin: 45px auto;
    border-radius: 25px;
  
}
.Navbar:hover{
    background-color: #000000dd;
    box-shadow: 2px 10px 25px #CB6CE6;
}
a{
    color:#fff;
}
.rocket-icon{
    font-size: 45px;
    animation: animation 3s ease-in-out infinite ;
    transition: 3s ease-in-out;
}
@keyframes animation{
    20% {
        transform: translateX(0) translateY(0);
    
    
    }



    80% {
        transform: translateX(360px) translateY(-360px);
    
    }

    100% {
        transform: translateX(0) translateY(0);
    
    }
  }